/* ************************************ */
/* 1) .class1 .class2 DESCENDANT SELECTOR */
/* .parent .class2 {
  background: lightblue;
} */


/* ************************************ */
/* 2) .class1.class2 */
/* Example 1- note how nothing will be selected */
/* .parent.class2 {
  background: lightblue;
} */

/* Example2- this element will be blue */
/* .class1.class2 {
  background: lightgreen;
} */



/* ************************************ */
/* 3)  POSITION RELATIVE VS ABSOLUTE */
/* .parent {
  background: lightblue;
  width: 500px;
  margin-top:20px;
  padding: 10px;
}

.parent2 {
  background: lightseagreen;
  padding: 10px;
}

.child-one {
  background: lightgreen;
}

.child-two {
  background: lightpink;
}

.child-three {
  background: lightgrey;
} */




/* ************************************ */
/* 4)  CSS SPECIFICITY */
/* Example 1 */
/* .class2 {
  background: lightgreen;
}

.class1 {
  background: lightblue;
} */


/* Example 2 */
/* div .class1 {
  background: lightblue;
}

.class1 {
  background: lightgreen;
} */


/* Example 3 */
/* .parent .class1 {
  background: lightblue;
}

div .class1 {
  background: lightgreen;
} */


/* Example 4 */
/* .parent div {
  background: lightblue;
}

div .class1 {
  background: lightgreen;
} */


/* Example 5 */
/* div .class1 {
  background: lightgreen;
}

.parent div {
  background: lightblue;
} */


/* Example 6 */
/* #parent-id div {
  background: lightblue;
}

div .class1 {
  background: lightgreen;
} */


/* Example 7 */
/* #parent-id div {
  background: lightblue;
}

#child-id {
  background: lightgreen;
} */


/* Example 8 */
/* .example {
  color: yellow;
}
ul li a {
  color: blue;
}
ul a {
  color: green;
}
a {
  color: red;
} */



/* ************************************ */
/* 5)  CSS3 FLEXBOX */
/* .header-wrap {
  background: lightgrey;
  height: 100px;
  display: flex;
  justify-content: center;
}

.header {
  background: lightblue;
  height: 100px;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  background: lightgreen;
}

.header-right {
  display: flex;
  background: lightpink;
} */


/* ************************************ */
/* 6) REM vs EM UNITS  */

